<div class="main_div">
    <form>
        <h1 class="main_heading">Add New Product</h1>

        <div class="form_outer_div">
            <div class="form_inner_div">
                <input type="text" class="product_name_input_field" placeholder="ProductName" #productName="ngModel"
                    [(ngModel)]="parentProduct.productName" name="productName">
                <input type="text" class="image_input_field" placeholder="ImageUrl" #imageUrl="ngModel"
                    [(ngModel)]="parentProduct.imageUrl" name="imageUrl">
            </div>
            <div class="button_div">
                <button class="submit_button" (click)="addParentProduct()">Submit</button>
                <button class="cancel_button" routerLink="/dashboard">Cancel</button>
            </div>
        </div>
    </form>
</div>